$var1: #F8F8F8;
$var2: #7E7E82;
$var3: #EAEAEA;
$var4: #ffffff;
$var5: #1B1C21;
$var6: #FFFFFF;
$var7: #FF3E79;
$var8: #FFFFFF;
$var9: #979797;
$var10: #DDDDDD;

html {
	list-style: none;
}
*, *:before, *:after {
	text-decoration: none;
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
font-face {
	font-family: 'TT Lakes';
	font-weight: 500;
	font-style: normal;
	src: local("TT Lakes"),
        ;
}
font-face {
	font-family: 'TT Lakes';
	font-weight: normal;
	font-style: normal;
	src: local("TT Lakes"),
        ;
}
.price {
	min-width: 320px;
	display: flex;
	flex-direction: column;
	height: 100vh;
	background: $var1;
	&__main-block {
		min-width: 0px;
	}
}
.price-header{
    &__tittle-wrapper {
        background: linear-gradient(to right, $var1, $var4);
        padding: 16px 0 16px 16px;
    }
    &__title {
        white-space: normal;
        color: $var2;
        font-size: 16px;
        font-family: 'TT Lakes';
        line-height: 24px;
        font-weight: normal;
        letter-spacing: -0.2px;
        text-transform: uppercase;
    }
}
.table-hat {
    &__service {
        flex-basis: 54.07%;
    }
    &__coast {
        flex-basis: 13.9%;
    }
    &__date {
        flex-basis: 31.98%;
    }
    &__text {
        color: $var2;
        font-size: 14px;
        font-family: 'TT Lakes';
        font-weight: 500;
        line-height: 16px;
    }
}
.price-swiper {
		margin: 16px 0 0 8px;
		&::after {
			position: absolute;
            right: 0px;
            top: 0px;
            content: "";
            background: linear-gradient(-90deg, #FFFFFF, transparent);
            height: 200px;
            width: 24px;
            z-index: 1;
		}
	&__list {
		position: relative;
		width: 100%;
		height: 100%;
		z-index: 1;
		display: flex;
		box-sizing: content-box;
	}
	&__item {
		box-sizing: border-box;
		border: 1px solid $var3;
		border-radius: 6px;
		max-width: 260px;
		min-height: 200px;
		background: $var4;
		padding: 0 16px;
		&-tittle {
			color: $var2;
			font-size: 14px;
			font-family: 'TT Lakes';
			font-weight: 500;
			line-height: 16px;
		}
		&-text {
			color: $var5;
			font-size: 14px;
			font-family: 'TT Lakes';
			line-height: 18px;
			letter-spacing: 0.2px;
		}
	}
}
.swiper-slide__container {
	margin-top: 16px;
}
.text-button-container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	position: relative;
	&::after {
		position: absolute;
		right: 16px;
		content: '';
		border-right: 2px solid $var6;
		border-top: 2px solid $var6;
		display: block;
		width: 7px;
		height: 7px;
		border-radius: 20%;
		transform: rotate(45deg);
	}
}
.order-button {
	border: none;
	border-radius: 16px;
	background: $var7;
	width: 119px;
	height: 32px;
	flex-shrink: 0;
	color: $var8;
	text-align: left;
	padding-left: 12px;
	font-size: 12px;
	font-family: 'TT Lakes';
	font-weight: 700;
	line-height: 24px;
	letter-spacing: -0.15px;
	text-transform: uppercase;
}
.pagination-container {
	margin-top: 16px;
}
.swiper-pagination {
	position: static;
}
.swiper-pagination-bullet-active {
    background-color: #979797;
}
.swiper-pagination-bullet {
    background-color: #DDDDDD;
}
.inform-block {
	margin: 16px;
	margin-bottom: 40px;
	&__tax-info {
		color: $var5;
		font-size: 14px;
		font-family: 'TT Lakes';
		line-height: 20px;
		letter-spacing: 0.2px;
	}
	&__offer-link {
		margin-top: 16px;
		display: block;
		&::after {
            position: absolute;
			margin: 8px;
			content: "";
			height: 7px;
			width: 7px;
			border-top: 2px solid $var7;
			border-right: 2px solid $var7;
			transform: rotate(45deg);
		}
	}
	&__offer-text {
		color: $var5;
		font-size: 16px;
		font-family: 'TT Lakes';
		font-weight: 500;
		line-height: 24px;
		letter-spacing: -0.2px;
	}
}
.footer-text {
    color: $var2;
	text-align: center;
	font-size: 14px;
	font-family: TT Lakes;
	font-weight: normal;
	line-height: 16px;
	margin-bottom: 18px;
    margin-top: 16px;
}
@media (min-width: 768px) {
    .price-header__tittle-wrapper{
        padding: 16px 0 16px 24px;
    }
    .table-hat {
        display: flex;
        margin: 31px 40px 16px 40px;
        &__wrapper {
            display: flex;
            width: 100%;
        }
    }
    .tittle--hidden {
        display: none;
    }
    .pagination-container--hidden {
        display: none;
	}
    .price-swiper {
		margin: 16px 24px 0 24px;
        &::after {
            display: none;
        }
        &__list {
            flex-direction: column;
            background: $var8;
        }
        &__item {
            max-width: 100%;
            min-height: 64px;
            display: flex;
            align-items: center;
            border: none;
            &::before {
                content: "";
                position: absolute;
                top: 0;
                border: 1px solid $var3;
                width: 95.4545%;
            }
            &:first-child:before {
                border: none;
            }
        }
        &__service-wrapper {
            flex-basis: 54.07%;
        }
        &__coast-wrapper {
            flex-basis: 13.9%;
        }
        &__date-wrapper {
            flex-basis: 31.985%;
        }
    }
    .swiper-slide__container {
        margin: 0;
    }
    .inform-block {
        margin: 24px 24px 80px 24px;
        &__wrapper {
            max-width: 421px;
        }
    }
    .footer-wrapper {
        display: flex;
        margin: 0 24px;
        padding: 0;
        justify-content: space-between;
    }
    .coperate-info {
        text-align: start;
        max-width: 218px;
    }
    .offerta-info {
        max-width: 213px;
        text-align: end;
    }
}

@media (min-width: 1120px) {
	.table-hat{
        margin: 31px 56px 16px 56px;
        &__service {
            flex-basis: 46.63%;
        }
        &__coast {
            flex-basis: 22.52%;
        }
        &__date {
            flex-basis: 30.85%;
        }
    }
    .price-swiper {
		margin: 0 32px;
        &__item {
            padding: 0 24px;
        }
        &__service-wrapper {
            flex-basis: 46.63%;
        }
        &__coast-wrapper {
            flex-basis: 22.52%;
        }
        &__date-wrapper {
            flex-basis: 30.85%;
        }
	}
    .inform-block {
        margin: 32px 32px 83px 32px;
    }
    .footer-wrapper {
        margin: 0 32px;
        justify-content: space-between;
    }
}

